<footer class="pane footer bg-dark-1">
  <div class="container">
    © Copyright
    <script>
var d = new Date();
document.write(d.getFullYear());
    </script>
    Pivotal Software, Inc.
    All Rights Reserved.
    <span class="removeformobile">•</span>
    <a href="https://pivotal.io/privacy-policy">Privacy and Cookie Policy</a>
    •
    <a href="https://pivotal.io/terms-of-use">
      Terms of Use
    </a>
      •
    <a class="removeformobile" href="https://pivotal.io/product-guide">
      Product Guide
    </a>
      •
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i[‘GoogleAnalyticsObject’]=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,‘script’,‘https://www.google-analytics.com/analytics.js','ga');

 ga(‘create’, ‘UA-39702075-1’, ‘auto’);
  ga(‘send’, ‘pageview’);

</script>
