<footer class="pane footer bg-dark-1 type-neutral-11">
  <div class="container">
    © Copyright
    <script>
var d = new Date();
document.write(d.getFullYear());
    </script>
    Pivotal Software, Inc.
    All Rights Reserved.
    <br/>
    <a href="https://pivotal.io/privacy-policy">Privacy and Cookie Policy</a>
      •
    <a href="https://pivotal.io/terms-of-use">
      Terms of Use
    </a>
      •
    <a class="removeformobile" href="https://pivotal.io/product-guide">
      Product Guide
    </a>
      •
    <a class="removeformobile" href="https://github.com/pivotal-legacy/blog/">
      Contribute
    </a>
    <a id='teconsent'></a>
    <script async="async" src="//consent.trustarc.com/notice?domain=pivotal.com&amp;c=teconsent&amp;js=nj&amp;text=true&amp;pcookie" crossorigin=""></script>
  </div>
</footer>
{{ template "_internal/google_analytics_async.html" . }}
