<footer class="pane footer bg-dark-1">
  <div class="container">
    © Copyright
    <script>
var d = new Date();
document.write(d.getFullYear());
    </script>
    Pivotal Software, Inc.
    All Rights Reserved.
    <span class="removeformobile">•</span>
    <a href="https://pivotal.io/privacy-policy">Privacy and Cookie Policy</a>
    •
    <a href="https://pivotal.io/terms-of-use">
      Terms of Use
    </a>
      •
    <a class="removeformobile" href="https://pivotal.io/product-guide">
      Product Guide
    </a>
      •
  </div>
</footer>
{{ template "_internal/google_analytics_async.html" . }}
