<div class="container">
  <div id="single-banner" class="pbxxl">
    <div class="single-banner-inner"></div>
    <p class="txt-c mvn">
      <a href="/">
        <img src="/images/logo.svg" alt="Pivotal Software, Inc.">
      </a>
    </p>
    <div class="container txt-c mvxl">
      <h1 class="title type-dark-9 mvn" id="main-title"><a href="/" class="type-dark-11 em-low title">{{ .Site.Title }}</a></h1>
      <h3 class="type-dark-9 mvn">{{ .Site.Params.SubTitle }}</h3>
    </div>
  </div>
</div>
