<head>
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/pivotal-ui.css">
  <link rel="stylesheet" href="/styleguide.css">
  <link rel="stylesheet" href="/github.css">
  <link rel="stylesheet" href="/local.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <!-- The feedburner account is managed by Tammer.  Contact him for any tweaks. -->
  <link href="http://feeds.feedburner.com/PivotalEngineeringJournal" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="http://feeds.feedburner.com/PivotalEngineeringJournal" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
