/* #main-banner { */
  /* background-image: linear-gradient(to right, #243640 40%, rgba(0,0,0,0)), url("/images/team.jpg"); */
  /* background-position: 100% 40%; */
  /* background-repeat: no-repeat; */
/* } */

html {
  /* background-image: linear-gradient(0deg, #232B2F 0%, #243641 100%); */
  /* height: 100%; */
  /* min-height: 100%; */
  /* background-attachment: fixed; */
  /* margin: 0; */
  background-color: #F5F6F7;
}

body {
  /* background: url("/images/bg-polygon-lines.png") no-repeat top center; */
  /* height: 100%; */
  /* min-height: 100%; */
  /* margin: 0; */
}

#single-banner {
  background: url("/images/bg-polygon-lines.png") no-repeat top center;
  position: relative;
}

.single-banner-inner {
  position: absolute;
  background-image: linear-gradient(0deg, #232B2F 0%, #243641 100%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
ul.list-breadcrumb { padding-left: 27px; }
@media all and (max-width: 768px) {
  ul.list-breadcrumb { padding-left: 7px; }
}

#author .list-cards li { min-height: 100px; }
#author .phxxl.pvl { border-bottom: 1px solid #e0e4e5; padding: 60px; }

#posts .list-timeline-date { width: 30%; border-bottom: 1px solid #e0e4e5; }
#posts .list-timeline-title { padding-top:    40px; padding-bottom: 40px; border-bottom: 1px solid #e0e4e5;}
#posts ul.authors li { list-style: none; }
.draft { position: absolute; left: 25px; top: 15px; }

#post h1 { clear: both; }
#post h2 { clear: both; }
#post h3 { clear: both; }
#post h4 { clear: both; }
#post h5 { clear: both; }
#post h6 { clear: both; }

#post .post-summary { margin-bottom: 2em; }

#post .post-header .authors li { display: inline; }
#post .post-header .authors li:after { content: ", "; }
#post .post-header .authors li:last-child:after { content: ""; }
#post .post-header .authors {
  display: inline;
  list-style: none;
  padding: 0;
}

figure img {
  margin-bottom: 1em;
  max-width: 100%;
}

figure.left  img { float: left;  padding-right: 1em; }
figure.right img { float: right; padding-left: 1em; }
figure.center { text-align: center; }

figure.left img, figure.right img { max-width: 50%; clear: both; }
figure.left.small img, figure.right.small img { max-width: 33%; }
figure.left.big img,   figure.right.big img   { max-width: 66%; }

@media (max-width: 1200px) {
  figure.fig-responsive { float: none !important; }
  figure.fig-responsive.left img, figure.fig-responsive.right img { max-width: 100% !important; padding: 0; }
}

blockquote:before {
  content: none;
}

blockquote {
  border: none;
  font-family: inherit;
  font-style: italic;
  margin: 12px;
  padding: 12px 24px;
}

ul, ol { list-style-position: inside; }

h1, .h1    { font-size: 33px; }
h2, .h2    { font-size: 27px; }
h3, .h3    { font-size: 22px; }
body       { font-size: 18px; }
blockquote { font-size: 18px; }
h4, .h4    { font-size: 20px; }
h5, .h5    { font-size: 18px; }
h6, .h6    { font-size: 15px; }

/* "table" copied from PUI */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 24px; }
  table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td {
    padding: 8px 14px;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #ddd; }
  table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd; }
  table > caption + thead > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > th, table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  table > tbody + tbody {
    border-top: 2px solid #ddd; }
  table table {
    background-color: transparent; }
