#main-banner {
  background-image: linear-gradient(to right, #243640 40%, rgba(0,0,0,0)), url("/images/team.jpg");
  background-position: 100% 40%;
  background-repeat: no-repeat;
}

#main-banner .title a {
  color: white !important;
}

.post .post-header .container {
  padding-top: 0;
  padding-bottom: 0;
}
#post-summary { margin-bottom: 2em; }
.post-title { padding-left: 0px; }

figure.left.small img, figure.right.small img { max-width: 33%; }
figure.left.big img,   figure.right.big img   { max-width: 66%; }

figure.left img, figure.right img { max-width: 50%; clear: both; }

figure.left  img { float: left;  padding-right: 1em; }
figure.right img { float: right; padding-left: 1em; }

figure img {
  margin-bottom: 1em;
}

.post .content h1 { clear: both; }
.post .content h2 { clear: both; }
.post .content h3 { clear: both; }
.post .content h4 { clear: both; }
.post .content h5 { clear: both; }
.post .content h6 { clear: both; }

.content ul, .content ol { width: auto; overflow: hidden; }

blockquote:before {
  content: none;
}

blockquote {
  border: none;
  font-family: inherit;
  font-style: italic;
  margin: 12px;
  padding: 12px 24px;
}

h1, .h1    { font-size: 33px; }
h2, .h2    { font-size: 27px; }
h3, .h3    { font-size: 22px; }
body       { font-size: 18px; }
blockquote { font-size: 18px; }
h4, .h4    { font-size: 20px; }
h5, .h5    { font-size: 18px; }
h6, .h6    { font-size: 15px; }

