<!DOCTYPE html>
<html class="bg-dark-10">

{{ partial "head.html" . }}

<body>
  {{ partial "heading.html" . }}
  <div class="container">
    <div id="post" class="bg-neutral-11 pbxxxl">
      <div class="post-header">
        {{ partial "breadcrumb.html" . }}
        <div class="phxxl pvl">
          <h1 class="title em-low type-dark-1 mvn">
            {{ if .Draft }} <span class="type-sm btn btn-danger">DRAFT</span>{{ end }}
            {{ .Title }}
          </h1>
          <h2 class="h3 type-dark-3 em-default mvn post-summary">{{.Params.short | markdownify}}</h2>
          <div class="type-dark-5 em-default">
            Posted on
            <span class="post-date"> {{ .Date.Format "Mon, Jan 2, 2006" }} </span>
            {{ $all := .Site.Data.authors}}
            {{ $authors := .Params.authors}}
            by
            <ul class="authors">
            {{ range $author := $authors }}
              {{ with $a := (index $all $author)}}
                <li><a href="/authors/{{ $author | urlize }}">{{ $a.Name }}</a></li>
              {{ end}}
            {{ end }}
            </ul>
            <br>
            {{ if .Params.categories }}
              Categories: &nbsp;
                {{ range .Params.categories }}
                  <a href="/categories/{{ . | urlize }}">{{ . }}</a> &nbsp;&nbsp;
                {{ end }}
                <br/>
              </span>
            {{ end }}
            <a href="https://github.com/pivotal-cf/blog/edit/master/content/{{.File.Path}}" class="type-sm">Edit this post on GitHub.</a>
            <div class="pull-right">
              <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-via="{{ range $index, $author := $authors }}{{ with $a := (index $all $author) }}{{ if $a.Twitter }}{{ if eq $index 0 }}{{ printf "%s " $a.Twitter }}{{ else }}{{ printf "@%s " $a.Twitter }}{{ end }}{{ end }}{{ end }}{{ end }}">Tweet</a>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="panel-body phxxl pvn">
        {{ .Content }}
      </div>
      <figure class="center fig-responsive">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-via="{{ range $index, $author := $authors }}{{ with $a := (index $all $author) }}{{ if $a.Twitter }}{{ if eq $index 0 }}{{ printf "%s " $a.Twitter }}{{ else }}{{ printf "@%s " $a.Twitter }}{{ end }}{{ end }}{{ end }}{{ end }}">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </figure>
    </div>
  </div>
  {{ partial "footer.html" . }}
  {{ partial "foot.html" . }}
</body>
</html>
