<!doctype html> <html class="bg-dark-10">
  {{ partial "head.html" . }}
  <body>
    {{ partial "heading.html" . }}
    <div class="container">
      <div class="bg-neutral-11">
        <div class="pan">
          <div class="posts">
            <ol class="list-timeline">
              {{ range .Data.Pages }}
              <li class="list-timeline-item post">
                <span class="list-timeline-date">
                  <ul class="authors">
                  {{ $all := .Site.Data.authors}}
                  {{ $authors := .Params.authors}}
                  {{ range $author := $authors }}
                    {{ with $a := (index $all $author)}}
                      <li>{{ $a.Name }}</li>
                    {{ end}}
                  {{ end }}
                  </ul>
                  <time datetime="{{ .Date.Format "2014-20-01" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                </span>
                <a class="h3 list-timeline-title" href="{{ .Permalink }}" class="post">
                  {{ if .Draft }}<span class="type-xs label label-primary">Draft</span>{{ end }}
                  {{ .Title }}
                  <span class="list-timeline-subtitle">{{ .Params.short | markdownify }}</span>
                </a>
              </li>
              {{ end }}
            </ol>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

