<!DOCTYPE html>
<html class="bg-dark-10">
  {{/* Grab the author name (is in .Title) from the data/authors section */}}
  {{ $.Scratch.Set "author" .Title }}
  {{ $username := .Title | lower }}
  {{ $author := index .Site.Data.authors $username }}
  {{ $.Scratch.Set "replace_title" $author.Name }}
  {{ partial "head.html" . }}
  <body>
    {{ partial "heading.html" . }}
    <div class="container">
      <div class="bg-neutral-11">
        {{ partial "breadcrumb.html" . }}
        <div id="author">
          <div class="phxxl pvl">
            <h2>{{ $author.Name }}</h2>

            <div class="grid">
            {{ if (ne $author.Blog nil) }}
              <div class="col col-sm">
                <div class="panel">
                  <div class="panel-body">
                    <i class="fas fa-globe fa-lg" aria-hidden="true"></i><br/>
                      {{ if (isset $author.Blog 0) }}
                        {{ range $author.Blog }}
                        <a href="{{ . }}">{{ . }}</a>
                        {{ end }}
                      {{ else }}
                        <a href="{{ $author.Blog }}">{{ $author.Blog }}</a>
                      {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}

              {{ if (ne $author.Twitter nil) }}
              <div class="col col-sm">
                <div class="panel">
                  <div class="panel-body">
                    <i class="fab fa-twitter fa-lg" aria-hidden="true"></i><br/>
                    {{ if (isset $author.Twitter 0) }}
                      {{ range $author.Twitter }}
                        <a href="https://twitter.com/{{ . }}">@{{ . }}</a><br/>
                      {{ end }}
                    {{ else }}
                        <a href="https://twitter.com/{{ $author.Twitter }}">@{{ $author.Twitter }}</a>
                    {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
              {{ if (ne $author.Github nil) }}
              <div class="col col-sm">
                <div class="panel">
                  <div class="panel-body">
                    <i class="fab fa-github fa-lg" aria-hidden="true"></i><br/>
                    {{ if (isset $author.Github 0) }}
                      {{ range $author.Github }}
                      <a href="https://github.com/{{ . }}">@{{ . }}</a><br/>
                      {{ end }}
                    {{ else }}
                      <a href="https://github.com/{{ $author.Github }}">@{{ $author.Github }}</a>
                    {{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>

          <div class="pvl phxxl">Posts By {{ $author.Name }}</div>
          <div id="posts">
            <ol class="list-timeline">
              {{ range where .Data.Pages "Section" "!=" "tweet" }}
              <li class="list-timeline-item post">
                <div class="list-timeline-date">
                  <ul class="authors em-alt">
                    {{ $all := .Site.Data.authors}}
                    {{ $authors := .Params.authors}}
                    {{ range $author := $authors }}
                    {{ with $a := (index $all $author)}}
                    <li><a href="/authors/{{ $author | urlize }}">{{ $a.Name }}</a></li>
                    {{ end}}
                    {{ end }}
                  </ul>
                  <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                </div>
                <span class="list-timeline-title post">
                  <a class="h3" href="{{ .Permalink }}">
                    {{ if .Draft }}<span class="type-xs label label-primary draft">Draft</span>{{ end }}
                    {{ .Title }}
                    <span class="list-timeline-subtitle h5 type-dark-5">{{ .Params.short | markdownify }}</span>
                  </a>
                  {{ if .Params.tags }}
                  <span class="list-timeline-tags em-alt">
                    <span class="type-dark-6">Tags: &nbsp;</span>
                    {{ range .Params.tags }}
                    <a href="/tags/{{ . | urlize }}">{{ . }}</a> &nbsp;&nbsp;
                    {{ end }}
                  </span>
                  {{ end }}
                  {{ if .Params.categories }}
                  <span class="list-timeline-tags em-alt">
                    <span class="type-dark-6">Categories: &nbsp;</span>
                    {{ range .Params.categories }}
                    <a href="/categories/{{ . | urlize }}">{{ . }}</a> &nbsp;&nbsp;
                    {{ end }}
                  </span>
                  {{ end }}
                </span>
              </li>
              {{ end }} {{/* end: range .Data.Pages */}}
            </ol>
          </div>
        </div>
      </div>
    </div>
    {{ partial "foot.html" . }}
  </body>
</html>
